/* Google Font Include */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;0,900;1,400;1,700;1,800&display=swap');

/*****************************\
         Common Style
\*****************************/

:root {
    --theme: #E76F51;
    --topBG: #264653;
    --white: #ffffff;
    --bottomBG: #0B0D17;
    --secondary: #6C6C6C;
    --secondaryDark: #18191F;
    --secondaryDeepDark: #0A0826;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

a {
    color: var(--white);
    text-decoration: none;
}

.btn {
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    text-align: center;
    padding: 10px 17px;
    border-radius: 8px;
    color: var(--white);
    border: 1px solid var(--theme);
    background-color: var(--theme);
    transition: all 0.4s ease-in-out;
}

.btn:hover {
    color: var(--theme);
    background-color: transparent;
}

.title {
    font-size: 48px;
    font-weight: 600;
    margin-top: 40px;
    line-height: 72px;
    text-align: center;
    margin-bottom: 25px;
    color: var(--secondaryDeepDark);
}

.title span {
    color: var(--theme);
}

.small-title {
    top: -20px;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    text-align: center;
    position: relative;
    color: var(--theme);
}


/*****************************\
        Banner Section
\*****************************/
.banner {
    height: 100vh;
    color: var(--white);
    background-color: var(--topBG);
}

.banner h2 {
    font-size: 50px;
    font-weight: 600;
    letter-spacing: 3px;
}

.banner p {
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
}

/* Banner Responsive */
@media only screen and (max-width: 1200px) {
    .banner h2 {
        letter-spacing: 0;
    }

    .banner p br {
        display: none;
    }
}

@media only screen and (max-width: 1000px) {
    .banner h2 {
        font-size: 38px;
    }

    .banner p {
        font-size: 10px;
    }
}

@media only screen and (max-width: 768px) {
    .banner {
        padding: 30px 0;
    }

    .banner .row {
        flex-wrap: wrap-reverse;
    }

    .banner img {
        margin-bottom: 50px;
    }
}

@media only screen and (max-width: 320px) {
    .banner {
        height: auto;
    }
}